@keyframes loader {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}
:root {
    --secoel-accent-color: #165DFF;
    --secoel-success-color: green;
}
.t_line {
    height: 5px;
    width: calc(100% + 20px);
    position: absolute;
    top: 0px;
    left: -20px;
    background: var(--secoel-accent-color);
    transition: .3s background;
    transition: .3s box-shadow;
}
.t_success {
    background: var(--secoel-success-color) !important;
    box-shadow: 1px 0px 5px 4px var(--secoel-success-color);
}
.loader {
    display: none;
    width: 50px;
    height: 5px;
    box-shadow: 1px 0px 5px 4px var(--secoel-accent-color);
    position: absolute;
    top: 0px;
    left: -20px;
    background: var(--secoel-accent-color);
}
.loader_animate {
    animation: loader 2s linear infinite;
}
.seasonalcontent_content_header {
    margin-left: -20px;
    margin-top: -15px;
    padding: 20px 20px;
    background: #fff;
}
.title h1 {
    font-size: 32px;
}
.sub-title {
    font-size: 15px;
}
.category {
    padding: 10px;
    margin: auto;
}
td {
    border-bottom: 1px solid #f2f2f2;
}
.categories {
    width: calc(100% + 20px);
    background-color: #fff;
    margin-top: 30px;
    margin-left: -20px;
    padding-left: 20px;
}
td input{
    width: 95%;
    padding: 5px !important;
    border: none !important; 
}
.category_delete {
    border: 1px solid var(--secoel-accent-color);
    background: #fff;
    cursor: pointer;
}
.category_delete svg {
    width: 18px;
    height: 18px;
}
.category_delete svg path {
    fill: var(--secoel-accent-color);
}
.save_categories {
    border: 1px solid var(--secoel-accent-color);
    background: var(--secoel-accent-color);
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}
.add_category {
    margin-left: 10px;
    border: 1px solid var(--secoel-accent-color);
    background: #fff;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--secoel-accent-color);
    font-size: 18px;
}